// dops Tokyo Night color scheme
$body-background-color: #1a1b26;
$sidebar-color: #16161e;
$body-text-color: #a9b1d6;
$body-heading-color: #a9b1d6;
$nav-child-link-color: #a9b1d6;
$link-color: #7aa2f7;
$btn-primary-color: #7aa2f7;
$code-background-color: #1f2335;
$table-background-color: #1f2335;
$search-background-color: #1f2335;
$search-result-preview-color: #565f89;
$border-color: #3b4261;
$hr-border-color: #3b4261;
$feedback-color: darken($body-text-color, 5%);
$base-button-color: #292e42;
